
/********** Base styles **********/
* {
  box-sizing: border-box; 
}
h1 {
  margin-bottom: 25px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-family: Arial;
  font-size: 3em;  
  font-weight: bold;  
  
}

section {
	border: 0px !important;
	padding-left:    15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;	
	height: 80%;	
  
}

section > div.interior{
  border: 1px solid black;
  background-color: #A4036F;
  
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0;
  margin-left: 0;
  
  
  color: white;
  
  font-family: Arial;
  font-size: 3em;
  font-weight: bold;  
  
  overflow-y: auto;
	
}

section  p.title {
  border-bottom: 1px solid black;
  border-left: 1px solid black;   
    
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-family: Arial;
  font-size: 0.71em;
  font-weight: bold;  
  color: #F8F5B5;
  
  float: right;
  padding: 1% 7% 1% 7%;
  margin-top: 0px;
  margin-bottom: 0px; 

	
}

section p.title.chicken{background-color: #0F9563;color: #F8F5B5;}
section p.title.beef{background-color: #A10702;color: #F8F5B5;}
section p.title.sushi{background-color: #F19941;color: #4B4707;}

section  p.desc {
  border: 0px solid black;
  background-color: #048BA8;    
  clear: right;  
  margin-top: 0px; 
  padding: 2% 2% 2% 2%;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  
  font-family: Arial;  
  font-size: 0.57em;
  font-weight: bold; 
  color: #F8F5B5;
  

}


/* Simple Responsive Framework. */
.row {  
  width: 100%;
}


/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Desktop only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    border: 1px solid green;
	/*border-bottom: 1px solid green;	*/
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Tablet only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: 1px solid green;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
  body {
	  font-size: 80%;  	  
  }
}

/********** Mobile only **********/
@media (max-width: 767px) {
  body {
	  font-size: 70%;  	  
  }	
	
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
    border: 1px solid green;
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 74.99%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}


/*
	Chicken
	Beef
	Sushi
	section.col-lg-4.col-md-6*>p.title{$#}+p.desc{Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.}

*/